* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-section {
    background-image: url("/assets/backgroundimage.jpg");
    background-color: rgba(11, 7, 7, 0.43);
    background-blend-mode: overlay;
    height: 70vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
}

.logo {
    width: 188px;
    height: 90px;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content:right;
}

.text {
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}



.c1 {
    font-size: xx-large;
}

.c2, .c3, .c4 {
    font-size: x-large;
    text-align: center;
    padding-top: 15px;
}

hr {
    border: 0.65vh solid #3b3b3b;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
  }

.parent {
    
    background-color: black;
    color:white;
    height: 500px;
    
}

.child {
    
    width: 1000px;
    height: 7.5vh;
    margin: 0 auto;
    background-color: #3b3b3b;
    font-size:25px;
   
    padding-top: 1.5vh;
    margin-bottom: 10px; /*
    max-width: 500px;
    max-height: 70px;*/

}

  .subtitle {
    padding-left: 20px;
    font-size: 20px;
    float: center;
    margin-left: 50px;
    
    max-width: fit-content;
  }
  
input {
    height: 45px;
    width: 350px;
    border-radius: 4px;
}


.getstarted {
    height: 45px;
    width: 80px;
    background-color: red;
    border-radius: 4px;
    margin-right:1cqi;
    font-size: 15px;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
    color: gray;

}